<footer>
  <div class="b-col">
    <div class="b-col__header">
      <span class="clock icon"></span> ВРЕМЯ РАБОТЫ
    </div>
    <div class="b-col__body">
      <span>Мы открыты ежедневно С 11 до 23</span>
    </div>
  </div>
  <div class="b-col">
    <div class="b-col__header">
      <span class="bookmark icon"></span> БРОНЬ СТОЛОВ
    </div>
    <div class="b-col__body">
      <a href="tel:+79260303330">+7 (926) 030 33 30</a>
      /
      <a href="mailto:info@moremanrest.ru">info@moremanrest.ru</a>
    </div>
  </div>
</footer>
