/* stylelint-disable */
@font-face {
  font-family: 'PFDinTextCompPro-Light';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.ttf')  format('truetype'),
  url('../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light') format('svg');
}

@font-face {
  font-family: 'PFDinTextCompPro-LightItalic';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.ttf')  format('truetype'),
  url('../fonts/PFDinTextCompPro-LightItalic/PFDinTextCompPro-LightItalic.svg#PFDinTextCompPro-Light') format('svg');
}


@font-face {
  font-family: 'PFDinTextCompPro-Regular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.ttf')  format('truetype'),
  url('../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Light') format('svg');
}


@font-face {
  font-family: 'PFDinDisplayPro-Thin';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin.woff') format('woff'),
  url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin.ttf')  format('truetype'),
  url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin.svg#PFDinTextCompPro-Light') format('svg');
}
