<!DOCTYPE HTML>
<html class="layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/bundle.min.css">
    <title>Ресторан Мореман</title>
</head>
<body>
    <div class="b-container">
      {{> middle}}
      {{> modal}}
      {{> social}}
    </div>
    <div class="b-overlay">&nbsp;</div>
    <script src="scripts/bundel.min.js"></script>
</body>
</html>
